/* You can add global styles to this file, and also import other style files */
.content{
	width: 100%;
	text-align: center;
}

.letter {
	width: 80%;
	float: left;
}

.prev, .next {
	width: 10%;
	float: left;
	height: 700px;
	cursor: pointer;
}

.letter>h1{
	font-size: 500px;
	margin: 0;
}

.arrow {
	border: solid black;
	border-width: 0 30px 30px 0;
	display: inline-block;
	padding: 30px;
	margin-top: 150px;
  }
  
  .right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  }